	<div ng-controller="ContentCtrl"><br/>


		 {{user.firstname}}
        {{user.lastname}}
        ({{user.phone}})
        will depart for
        {{location.name}}
        on
        {{departDate}}
        at
        {{departTime}}
        and return on
        {{returnDate}}
        at
        {{returnTime}}
		<p>
			<span class="tab3_first_name">{{user.firstname}}</span>
			<span class="tab3_location">{{location.name}}</span>
			<span>{{user.phone}}</span> will depart for <span class="tab3_location">{{location.name}}</span> on 
			{{departDate}} at {{departTime}} and return on 
			{{returnDate}} at {{returnTime}}
		</p>

		 <input type="submit" class="btn btn-default btn-sm" ng-click="tab3()" value="Confirm"/>
	</div>
